@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    background-image: url('/projects/todo/images/watercolor-background.jpg');
}

.body-content {
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.add-item {
    width: 100%;
    position: fixed;
    bottom: 10px;
}

.add-item input {
    height: 35px;
    width: 70%;
}

.add-item button {
    height: 40px;
    width: 40px;
}

/* on screens that are 600px or more */
@media only screen and (min-width: 600px) {

    body {
        font-size: 1.2em;
    }

    .body-content {
        max-width: 90%;
        margin: auto;
    }
}

/* on screens that are 992px or more */
@media only screen and (min-width: 992px) {

    body {
        font-size: 1.4em;
    }

    .body-content {
        max-width: 80%;
        margin: auto;
    }
}